[[extend 'layout.html']]

<div class="section">

  [[block page_menu_items]]
  <a class="navbar-item" href="[[=URL('index')]]">
    Browse
  </a>
  [[end]]

  <h1 class="title" style="text-align:center;">Shopping Cart</h1>

  <section class="container main-content columns is-fullheight" style="margin: auto;">

    <div class="column is-9">
      <div>
        [[for row in rows:]]
        <article style="padding: 10px 20px; border-radius: 3px; margin-bottom: 20px;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2); display: flex; flex-wrap: wrap;">
          <img class="mr-3" src="images/[[=row['img'] ]]" style="height: 300px; width: 200px; border-radius: 3px;">
          <div style="flex:1;">
            <div style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #808080">
              <h1 style="display: inline-block; font-size: 30px;">[[=row["title"] ]]</h1>
            </div>
            <strong style="display: inline-block;">Author:</strong>
            <p class="mr-2">[[=row["author"] ]]</p>
            <br>
            <p style="white-space: pre-line;">[[=row["description"] ]]</p>
          </div>
          <a class="button" href="[[=URL('delete_cart', row['id'], signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
        </article>
        [[pass]]
      </div>
    </div>

    <div class="column is-3 is-hidden-mobile sticky">
      <div id="vue-target" v-cloak>
        <article style="padding: 10px 20px; border-radius: 3px; margin-bottom: 20px; height:500px; position: fixed; width: 350px;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2); display: flex; flex-wrap: wrap;">
          <div style="flex:1;">
            <div style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #808080">
              <h1 style="display: inline-block; font-size: 30px;">Checkout</h1>
            </div>
            <h1 class="title"> TOTAL PRICE: $[[=total]]</h1>
            [[for row in rows:]]
            <p class="ml-4">($[[=row["price"] ]]) [[=row["title"] ]]</p>
            [[pass]]
          </div>
          [[if total != 0: ]]
          <button class="button is-primary" style="position: absolute; bottom: 20px; right: 20px;" @click="pay()">
            Purchase
          </button>
          [[pass]]
        </article>
      </div>
    </div>

  </section>

</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let pay_url = "[[=XML(pay_url)]]";
  let stripe_key = "[[=XML(stripe_key)]]";
  let app_name = "[[=XML(app_name)]]";


</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="js/cart.js"></script>
[[end]]

