[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }

  .novel-img{
  display: inline-block;
  background-size: 300px;
  height: 300px;
  width: 200px;
  border-radius: 3px;
  transition: 1s;
}

.novel-img:hover{
  filter: grayscale(100%);
  transform: scale(1.05);
}






</style>


<div class="section">

  [[block page_menu_items]]
  <a class="navbar-item" href="[[=URL('index')]]">
    Browse
  </a>
  [[end]]

  <div style="min-height: 550px; background:transparent; background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(255, 255, 255, 0.30)), url('banner.jpg'); background-attachment: fixed;
  background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <h1 style="z-index: 2; position: relative; color: #ffffff; top: 100px;
      font-family:'Courier New'  !important; font-size: 50px;">Buy eBooks Online. Anytime Anywhere</h1>
    </div>
  </div>

  <br><br>

  <h1 style="font-size: 35px; text-align: center;">Latest Releases</h1>

  <!-- Display Books -->
  <div class="container" style="text-align:center; max-width:1200px">
    [[for row in rows:]]
    <article style="display:inline-block; margin-right:15px; margin-left:15px; margin-bottom:20px; width: 240px;
      height: 420px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);
      padding-top:20px; padding-left:20px; padding-right:20px;">
      <a href="[[=URL('info', row['id'])]]">
        <img src="images/[[=row['img'] ]]" style="height:300px; width:200px;" class="novel-img">
      </a>

      <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
        <p>[[=row["title"] ]]</p>
        <p>[[=row["author"] ]]</p>
      </div>

      <div style="display:inline-block; margin-right:20%;">
        <font size="+2">$[[=row["price"] ]]</font>
      </div>

      <a class="button" href="[[=URL('add_to_cart', row['id'])]]">
        <span class="icon"><i class="fa fa-fw fa-shopping-cart"></i></span>
      </a>


      <a class="button" href="[[=URL('add_to_wishlist', row['id'])]]">
        <span class="icon"><i class="fa fa-fw fa-gift"></i></span>
      </a>
    </article>
    [[pass]]
  </div>

  <h1 style="font-size: 35px; text-align: center;">Popular Items</h1>

  <!-- Display Books -->
  <div class="container" style="text-align:center; max-width:1200px">
    [[for row in popular:]]
    <article style="display:inline-block; margin-right:15px; margin-left:15px; margin-bottom:20px; width: 240px;
      height: 420px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);
      padding-top:20px; padding-left:20px; padding-right:20px;">
      <a href="[[=URL('info', row['id'])]]">
        <img src="images/[[=row['img'] ]]" style="height:300px; width:200px;" class="novel-img">
      </a>

      <div style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
        <p>[[=row["title"] ]]</p>
        <p>[[=row["author"] ]]</p>
      </div>

      <div style="display:inline-block; margin-right:20%;">
        <font size="+2">$[[=row["price"] ]]</font>
      </div>

      <a class="button" href="[[=URL('add_to_cart', row['id'])]]">
        <span class="icon"><i class="fa fa-fw fa-shopping-cart"></i></span>
      </a>


      <a class="button" href="[[=URL('add_to_wishlist', row['id'])]]">
        <span class="icon"><i class="fa fa-fw fa-gift"></i></span>
      </a>
    </article>
    [[pass]]
  </div>
</div>


<div class="mt-1" id="vue-target" v-cloak>
  <div class="container">
    <article style="padding: 10px 20px; border-radius: 3px; margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);">

      <div style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #808080">
        <h2 class="title is-4">Like Our Ebooks? Have an Opinion? Share your thoughts!</h2>
      </div>

      <div v-if="add_post_status" class="container block">

        <input type="text" v-model="add_content" placeholder="Enter review here" class="textarea">

        <td><input type="submit" @click="add_post" value="Post" class="button is-primary"></td>

        <td>
          <button @click="set_add_post(false)" class="button is-warning">
            <span>Cancel</span></button>
        </td>

      </div>

      <div v-else class="container block level-right">
        <td>
          <button @click="set_add_post(true)" class="button">
            <span class="icon"><i class="fa fa-fw fa-plus"></i></span> <span>Add Review</span></button>
        </td>
      </div>

      <div class="box has-background-grey-lighter" v-for="r in rows.slice().reverse()">

        <div>{{r.content}}</div>
        <div class="text has-text-grey">{{r.author}}</div>
        <div>
            <span @mouseout="stars_out(r._idx)">
            <span @mouseover="stars_over(r._idx, star_idx)"
                  @click="set_stars(r._idx, star_idx)"
                  v-for="star_idx in [1, 2, 3, 4, 5]">
            <i v-if="star_idx <= r.num_stars_display" class="fa fa-star"></i>
            <i v-if="star_idx > r.num_stars_display" class="fa fa-star-o"></i>
            </span>
            </span>
        </div>

        <div class="level-right">
          <button v-if="r.owner===user" @click="delete_post(r._idx)" class="button">
            <i class="fa fa-trash"></i><span></span>
          </button>
        </div>

      </div>

    </article>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let search_url = "[[=XML(search_url)]]";
    let my_callback_url = "[[=XML(my_callback_url)]]";
    let add_post_url = "[[=XML(add_post_url)]]";
    let delete_post_url = "[[=XML(delete_post_url)]]";
    let get_rating_url = "[[=XML(get_rating_url)]]";
    let set_rating_url = "[[=XML(set_rating_url)]]";






</script>
<script src="js/index.js"></script>
[[end]]
