[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }



</style>


<div class="section">

  [[block page_menu_items]]
  <a class="navbar-item" href="[[=URL('index')]]">
    Browse
  </a>
  [[end]]

  <div class="container col-md-12">
    <article style="padding: 10px 20px; border-radius: 3px; margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2); display: flex; flex-wrap: wrap;">
      <img class="mr-3" src="images/[[=book['img'] ]]" style="height: 300px; width: 200px; border-radius: 3px;">
      <div style="flex:1;">
        <div style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #808080">
          <h1 style="display: inline-block; font-size: 30px;">[[=book["title"] ]]</h1>
          <a class="button mr-1" style="float: right;" href="[[=URL('add_to_cart', book['id'])]]">
            <span class="icon"><i class="fa fa-fw fa-shopping-cart"></i></span>
          </a>
          <a class="button mr-1" style="float: right;" href="[[=URL('add_to_wishlist', book['id'])]]">
            <span class="icon"><i class="fa fa-fw fa-gift"></i></span>
          </a>
        </div>
        <strong style="display: inline-block;">Author:</strong>
        <p class="mr-2">[[=book["author"] ]]</p>
        <br>
        <p style="white-space: pre-line;">[[=book["description"] ]]</p>
      </div>
    </article>
  </div>
</div>

<div class="mt-1" id="vue-target" v-cloak>
  <div class="container">
    <article style="padding: 10px 20px; border-radius: 3px; margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);">

      <div style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #808080">
        <h2 class="title is-4">Review and rate this eBook!</h2>
      </div>

      <div v-if="add_post_status" class="container block">

        <input type="text" v-model="add_content" placeholder="Enter review here" class="textarea">

        <td><input type="submit" @click="add_post" value="Post" class="button is-primary"></td>

        <td>
          <button @click="set_add_post(false)" class="button is-warning">
            <span>Cancel</span></button>
        </td>

      </div>

      <div v-else class="container block level-right">
        <td>
          <button @click="set_add_post(true)" class="button">
            <span class="icon"><i class="fa fa-fw fa-plus"></i></span> <span>Add Review</span></button>
        </td>
      </div>

      <div class="box has-background-grey-lighter" v-for="r in rows.slice().reverse()">

        <div>{{r.content}}</div>
        <div class="text has-text-grey">{{r.author}}</div>
        <div>
            <span @mouseout="stars_out(r._idx)">
            <span @mouseover="stars_over(r._idx, star_idx)"
                  @click="set_stars(r._idx, star_idx)"
                  v-for="star_idx in [1, 2, 3, 4, 5]">
            <i v-if="star_idx <= r.num_stars_display" class="fa fa-star"></i>
            <i v-if="star_idx > r.num_stars_display" class="fa fa-star-o"></i>
            </span>
            </span>
        </div>

        <div class="level-right">
          <button v-if="r.owner===user" @click="delete_post(r._idx)" class="button">
            <i class="fa fa-trash"></i><span></span>
          </button>
        </div>

      </div>

    </article>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let load_bookrev_url = "[[=XML(load_bookrev_url)]]";
    let add_book_url = "[[=XML(add_book_url)]]";
    let delete_book_url = "[[=XML(delete_book_url)]]";
    let get_rev_rating_url = "[[=XML(get_rev_rating_url)]]";
    let set_rev_rating_url = "[[=XML(set_rev_rating_url)]]";



</script>
<script src="js/info.js"></script>
[[end]]

